
.App {
  text-align: left;
  margin-left: 2em;
}
.department {
  margin-top: 1.2em;
  margin-bottom: 2px;
}

.logo {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: .5em;
  margin-top: 0.2em;
  margin-right: .2em;
}
@media screen and (max-width: 850px) {
.logo {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: .5em;
  margin-top: 1em;
  margin-right: .2em;
}
}

.App-header {
  background-color: #0f4d90;
  height: 100%;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
.header-title {
  color: #BFD633;
  padding-top: .5em;
  margin-left: .5em;
}


@media not screen and (max-width: 850px) {
.two-col-layout {
  float: left;
  width: 50%;
}
}
